.clip {
  clip-path: polygon(
    100% 51%,
    79% 30%,
    49% 0%,
    26% 24%,
    1% 49%,
    16% 49%,
    16% 99%,
    42% 100%,
    51% 100%,
    59% 100%,
    70% 100%,
    87% 100%,
    87% 79%,
    87% 51%
  );
}

.driver_container {
  background: lightblue;
  padding: 50px;
}
.driver {
  max-width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.driver img {
  max-width: 550px;
}

.driver img:hover {
  transform: scale(1.05);
}

.driver h2 {
  padding-top: 30%;
}

.driver span {
  color: rgb(240, 240, 15);
}

.driver p {
  font-size: 1rem;
  color: rgb(23, 6, 70);
}

.driver button {
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 12px 18px;
  border: none;
  border-radius: 25px;
}
.driver button:hover {
  background-color: rgb(106, 34, 173);
  transition: background-color 1s;
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
  .driver {
    grid-template-columns: 1fr;
  }

  .driver img {
    max-width: 80%;
  }

  .driver .left {
    display: flex;
    justify-content: center;
  }

  .driver h2 {
    padding-top: 10%;
  }

  .driver button {
    margin-top: 10px;
  }
}
